{
  "qaTilesPath": "/Users/jenningsanderson/latest.planet-compact.mbtiles",
  "output"  :     "/Users/jenningsanderson/data-team-edits/data/full-extraction.geojsonseq",
  "bbox"    : [-122.557337,37.412555,-121.841301,37.929844],
  "editors" : "/Users/jenningsanderson/data-team-edits/data/editor_list.json",

  "USE_F_FILTERING" : true,
  "USE_T_FILTERING" : true
}
